<!DOCTYPE html>
<html>
  <head>
    <title>Notatnix</title>
    <script src="/static/main.js"></script>
    <script src="/static/public_notes.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik:400,700"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/homepage.css') }}"
      }}
    />
  </head>

  <body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li class="left_label"><a class="active" href="/logout">Wróć</a></li>
    </ul>
    <div class="main" id="main">
      <p id="start">Przeglądanie publicznych notatek.</p>
      <input
        type="text"
        id="myInput"
        placeholder="Search for names.."
        title="Type in a name"
      />
      <hr />
      <table id="output"></table>
    </div>
  </body>
</html>
